@model Dominio.Contato

@{
    ViewBag.Title = "Excluir";
    Layout = "~/Areas/Painel/Views/Shared/_Painel.cshtml";
}

<h2>Excluir</h2>

<h3>Tem certeza que deseja excluir este registro?</h3>
<fieldset>
    <legend>Contato</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ContatoNome)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ContatoNome)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ContatoEmail)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ContatoEmail)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ContatoTelefone)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ContatoTelefone)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ContatoCidade)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ContatoCidade)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ContatoAssunto)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ContatoAssunto)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ContatoMensagem)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ContatoMensagem)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Excluir" /> |
        @Html.ActionLink("Voltar", "Index")
    </p>
}
