@model Dominio.Contato
@{
    ViewBag.Title = "Contato";
}

<section id="contato">
    <header class="cab-destaque">
        <img src="~/Content/img/img-coberturas.jpg" title="Contato" alt="Contato">
        <h2><a href="#" title="Contato">Contato</a></h2>
    </header>
    <section id="form-contato">
        <header id="cab-contato">
            <h3>Preencha o formulário para nos mandar um email
            </h3>
        </header>
        @using (@Html.BeginForm(new { @id = "contato-email" }))
        {
            @Html.ValidationSummary(true)
            <fieldset style="border: 0">
                <legend></legend>
                <ol>
                    <li>
                        @Html.LabelFor(model => model.ContatoNome)
                        @Html.EditorFor(model => model.ContatoNome)
                        @Html.ValidationMessageFor(model => model.ContatoNome)
                    </li>
                    <li>
                        @Html.LabelFor(model => model.ContatoEmail)
                        @Html.EditorFor(model => model.ContatoEmail)
                        @Html.ValidationMessageFor(model => model.ContatoEmail)
                    </li>
                    <li>
                        @Html.LabelFor(model => model.ContatoTelefone)
                        @Html.EditorFor(model => model.ContatoTelefone)
                        @Html.ValidationMessageFor(model => model.ContatoTelefone)
                    </li>
                    <li>
                        @Html.LabelFor(model => model.ContatoCidade)
                        @Html.EditorFor(model => model.ContatoCidade)
                        @Html.ValidationMessageFor(model => model.ContatoCidade)
                    </li>
                    <li>
                        @Html.LabelFor(model => model.ContatoAssunto)
                        @Html.EditorFor(model => model.ContatoAssunto)
                        @Html.ValidationMessageFor(model => model.ContatoAssunto)
                    </li>
                    <li>
                        @Html.LabelFor(model => model.ContatoMensagem)
                        @Html.TextAreaFor(model => model.ContatoMensagem)
                        @Html.ValidationMessageFor(model => model.ContatoMensagem)
                    </li>
                    <li>
                        <button type="submit" id="bt-enviar"></button>
                        <button type="reset" id="bt-limpar"></button>
                    </li>
                </ol>
            </fieldset>
        }
    </section>
</section>
