@model Dominio.Admin

@{
    ViewBag.Title = "Detalhes";
    Layout = "~/Areas/Painel/Views/Shared/_Painel.cshtml";
}

<h2 style="margin-top: 100px">Detalhes</h2>

<fieldset>
    <legend>Admin</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AdminLogin)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AdminLogin)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AdminSenha)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AdminSenha)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AdminNome)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AdminNome)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AdminEmail)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AdminEmail)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AdminFoto)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AdminFoto)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Editar", "Editar", new { id=Model.AdminId }) |
    @Html.ActionLink("Retornar", "Index")
</p>
