@model IEnumerable<Dominio.Admin>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Painel/Views/Shared/_Painel.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Cadastrar Novo", "Cadastrar")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AdminLogin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AdminSenha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AdminNome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AdminEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AdminFoto)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AdminLogin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AdminSenha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AdminNome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AdminEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AdminFoto)
        </td>
        <td>
            @Html.ActionLink("Editar", "Editar", new { id=item.AdminId }) |
            @Html.ActionLink("Detailhes", "Detalhes", new { id=item.AdminId }) |
            @Html.ActionLink("Excluir", "Excluir", new { id=item.AdminId })
        </td>
    </tr>
}

</table>
