<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-responsive.min.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                </button>
                <a class="brand" href="./index.html">Painel</a>
                <div class="nav-collapse collapse">
                    <ul class="nav">
                        <li class="active">
                            <a href="./index.html">Home</a>
                        </li>
                        <li class="">
                            <a href="./getting-started.html">Get started</a>
                        </li>
                        <li class="">
                            <a href="./scaffolding.html">Scaffolding</a>
                        </li>
                        <li class="">
                            <a href="./base-css.html">Base CSS</a>
                        </li>
                        <li class="">
                            <a href="./components.html">Components</a>
                        </li>
                        <li class="">
                            <a href="./javascript.html">JavaScript</a>
                        </li>
                        <li class="">
                            <a href="./customize.html">Customize</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    @RenderBody()

    <p>Rodape</p>
    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/bootstrap.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
