<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-responsive.min.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                </button>
                @Html.ActionLink("Painel", "Logado", "Home", new { @class = "brand" })
                <div class="nav-collapse collapse">
                    <ul class="nav">
                        <li class="active">
                            @Html.ActionLink("Admin", "Admin", "Home")
                        </li>
                        <li class="">
                            @Html.ActionLink("Eventos", "Eventos", "Home")
                        </li>
                        <li class="">
                            @Html.ActionLink("As Minas Pira", "AsMinasPira", "Home")
                        </li>
                        <li class="">
                            @Html.ActionLink("Contato", "Contato", "Home")
                        </li>
                        <li class="">
                            @Html.ActionLink("Quem Somos", "QuemSomos", "Home")
                        </li>
                        <li class="">
                            @Html.ActionLink("Sair", "Logout", "Home")
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    @RenderBody()

    <p>Rodape</p>
    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/bootstrap.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
